@using AdeDl.BlazorApp.Models
@using AdeDl.BlazorApp.Models.Operations
@using AdeDl.BlazorApp.Services
<p>
    @if (_selectedCustomersCount == 1)
    {
        @("Un cliente selezionato.")
    }
    else
    {
        @($"{_selectedCustomersCount} clienti selezionati.")
    }
</p>

<div class="form-check">
    <input class="form-check-input"
           type="checkbox"
           checked="@IsOperationSelected(typeof(Anagrafica))"
           id="anagrafica"
           @onchange="ToggleAnagrafica">
    <label class="form-check-label"
           for="anagrafica">
        Anagrafica
    </label>
</div>

<div class="form-check mt-3">
    <input class="form-check-input"
           type="checkbox"
           checked="@IsOperationSelected(typeof(F24))"
           id="f24"
           @onchange="@(ToggleYearlyOperation<F24>)">
    <label class="form-check-label"
           for="f24">
        F24
    </label>
</div>

@if (IsOperationSelected(typeof(F24)))
{
    <div class="mt-2">
        <div class="form-floating">
            <select class="form-select"
                    id="f24select"
                    @onchange="@(ChangeYear<F24>)">
                @for (var i = DateTime.Now.Year; i >= 2015; i--)
                {
                    <option value="@i"
                            selected="@(IsYearlySelected<F24>(i))">
                        @i
                    </option>
                }
            </select>
            <label for="f24select">
                Anno F24
            </label>
        </div>
    </div>
}

<div class="form-check mt-3">
    <input class="form-check-input"
           type="checkbox"
           checked="@IsOperationSelected(typeof(Cu))"
           id="cu"
           @onchange="@(ToggleYearlyOperation<Cu>)">
    <label class="form-check-label"
           for="cu">
        CU
    </label>
</div>

@if (IsOperationSelected(typeof(Cu)))
{
    <div class="mt-2">
        <div class="form-floating">
            <select class="form-select"
                    id="selectCu"
                    @onchange="@(ChangeYear<Cu>)">
                @for (var i = DateTime.Now.Year; i >= 2015; i--)
                {
                    <option value="@i"
                            selected="@(IsYearlySelected<Cu>(i))">
                        @i redditi @(i - 1)
                    </option>
                }
            </select>
            <label for="selectCu">
                Anno CU
            </label>
        </div>
    </div>
}

<div class="form-check mt-3">
    <input class="form-check-input"
           type="checkbox"
           checked="@IsOperationSelected(typeof(CreditoIva))"
           id="creditoIVA"
           @onchange="@(ToggleYearlyOperation<CreditoIva>)">
    <label class="form-check-label"
           for="creditoIVA">
        Credito IVA e Agevolazioni
    </label>
</div>

@if (IsOperationSelected(typeof(CreditoIva)))
{
    <div class="mt-2">
        <div class="form-floating">
            <select class="form-select"
                    id="creditoIvaSelect"
                    @onchange="@(ChangeYear<CreditoIva>)">
                @for (var i = DateTime.Now.Year; i >= 2015; i--)
                {
                    <option value="@i"
                            selected="@(IsYearlySelected<CreditoIva>(i))">
                        @i
                    </option>
                }
            </select>
            <label for="creditoIvaSelect">
                Anno crediti IVA e agevolazioni
            </label>
        </div>
    </div>
}

<div class="form-check mt-3">
    <input class="form-check-input"
           type="checkbox"
           checked="@IsOperationSelected(typeof(DatiRegistro))"
           id="datiRegistro"
           @onchange="@(ToggleYearlyOperation<DatiRegistro>)">
    <label class="form-check-label"
           for="datiRegistro">
        Dati registro
    </label>
</div>

@if (IsOperationSelected(typeof(DatiRegistro)))
{
    <div class="mt-2">
        <div class="form-floating">
            <select class="form-select"
                    id="datiRegistroSelect"
                    @onchange="@(ChangeYear<DatiRegistro>)">
                @for (var i = DateTime.Now.Year; i >= 2015; i--)
                {
                    <option value="@i"
                            selected="@(IsYearlySelected<DatiRegistro>(i))">
                        @i
                    </option>
                }
            </select>
            <label for="datiRegistroSelect">
                Dati registro
            </label>
        </div>
    </div>
}

<div class="form-check mt-3">
    <input class="form-check-input"
           type="checkbox"
           checked="@IsOperationSelected(typeof(VersamentiIva))"
           id="versamentiIva"
           @onchange="@(ToggleYearlyOperation<VersamentiIva>)">
    <label class="form-check-label"
           for="versamentiIva">
        Versamenti IVA
    </label>
</div>

@if (IsOperationSelected(typeof(VersamentiIva)))
{
    <div class="mt-2">
        <div class="form-floating">
            <select class="form-select"
                    id="versamentiIvaSelect"
                    @onchange="@(ChangeYear<VersamentiIva>)">
                @for (var i = DateTime.Now.Year; i >= 2015; i--)
                {
                    <option value="@i"
                            selected="@(IsYearlySelected<VersamentiIva>(i))">
                        @i
                    </option>
                }
            </select>
            <label for="versamentiIvaSelect">
                Anno versamenti IVA
            </label>
        </div>
    </div>
}

<div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">

    <button type="button"
            role="button"
            class="btn btn-primary"
            disabled="@(!_operations.Any() || _isDownloading)"
            @onclick="Download">
        Scarica
    </button>

    @if (_cts is not null && !_cts.IsCancellationRequested)
    {
        <button class="btn btn-danger"
                type="button"
                role="button"
                @onclick="Abort">
            Annulla
        </button>
    }

</div>